<style>
  .blue { color: #4285F4; }
  .red { color: #EA4335; }
  .yellow { color: #FBBC05; }
  .green { color: #34A853; }
</style>

<h1>
  <span class="blue">多</span>
  <span class="red">多</span>
  New Company
  <span class="yellow">多</span>
  <span class="green">多</span>
</h1>

<form action="/companies" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="city">City</label>
    <input type="text" name="city" id="city">
    <label for="state">State</label>
    <input type="text" name="state" id="state">
  </p>
  <button>Submit</button>
</form>
